
.gallery-title
{
    font-size: 36px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 40px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px !important;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 30px;
    margin: 0 4px !important;

}
.filter-button:hover
{
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}

.img-responsive:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
}
